.PerfilFoto {
    display: flex;
    position: absolute;
    margin-top: 10vh;
    top: 10;
    left: 50;
    width: 100%;
    height: 100%;
    z-index: 1;
    height: 15vh;
    width: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

nav {

    position: absolute;
    top: 2vw;
    left: 85vw;
    height: 6vh;
    width: 6vh;

}

.Papel-de-Parede {

    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.FotoPerfilnome {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.bio {
    display: flex;
    width: 100vw;
    height: auto;
    margin-top: 4vh;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 7vw;
}



.separador {
    background-color: azure;
    height: 50px;
    width: 100vw;
    margin-top: 1vw;
}

.separador-baixo {
    background-color: azure;
    height: 90px;
    width: 100vw;
    margin-top: 1vw;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 2fr));
    padding: 2vw;
    gap: 0.3rem;
}

li {
    border-radius: 1vw;

}

.grid-img {
    background-color: rgb(43, 45, 46);
    border-radius: 7px;
}

.formularioedit {
    display:flex ;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;


    height: auto;
    width: 100%;
   
}

.input-Edit {
    margin: auto;
    display: flex;
    flex-direction: column;

    align-items: center;


    height: auto;
    width: 90vw;

    border-radius: 10px;
    padding: 15px;
    margin-top: 15vw;
    gap: 3vw;

}

.dadosinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 10vw;
    border-radius: 10px;
    border: none;
    padding: 2vw;
    width: 90%;
    background-color: rgb(217, 217, 217) ;

}
.bioinput{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    height: 60vw;
    border-radius: 10px;
    border: none;
    padding: 2vw;
    width: 90%;
    background-color: rgb(217, 217, 217);

}

.formularioedit-bio {
    display:flex ;
    
    margin: auto;
    margin-top: 7vw;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
   

    height: auto;
    width: 100%;
   
}