




.PerfilFoto{
    display: flex;
    position: absolute;
    margin-top: 10vh;
    top: 10;
    left: 50;
    width: 100%;
    height: 100%;
    z-index: 1;
    height: 15vh;
    width: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    

}


.Papel-de-Parede{

    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.FotoPerfilnome{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

